* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root {
    --background-main: #000000;
    --background-player-div: #2A2141; 
    --info-color: #E1E1E6;
    font-family: Roboto;
    background-color: var(--background-main);
    color: var(--info-color);
}

#app {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-template-areas: 
    'player-1 player-2 '
    'player-1 player-3'
    ;
    gap: 28px;
}


#player-1 {
    grid-area: player-1;
    position: relative;
    left: 40px;

    width: 260px;
    height: 500px;
    
    margin: 0 auto;
    padding: 38px;
    border-radius: 9.6px;
    background-color: var(--background-player-div);
}

#player-vertical > img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 6px;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#player-2 {
    grid-area: player-2;
    width: 360px;
    height: 266px;

   
    border-radius: 9.6px;
    background-color: var(--background-player-div);
}

.wrapper > img {
    width: 84px;
    height: 84px;
}

.player-horizontal {
    padding: 29px;    
}

#player-3{
    grid-area: player-3;

    width: 360px;
    height: 200px;
    
    
    border-radius: 9.6px;
    background-color: var(--background-player-div);
}

