* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root {
    --background-main: #000000;
    --background-player-div: #2A2141; 
    --info-color: #E1E1E6;
    font-family: Roboto;
    background-color: var(--background-main);
    color: var(--info-color);
}

.player-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 260px;
    height: 500px;

    margin: 50px 0;
    padding: 38px;
    border: 1px solid var(--cor-de-fundo);
    border-radius: 9.6px;
    background-color: var(--background-player-div);
}

.wrapper {
    width: 190px;
}

.wrapper img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 6px;
    margin: 0 0 0 32px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 15px 0;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.time {
    position: relative;
}

#app2 {
    width: 360px;
    height: 260px;

    margin: 32px;
    padding: 29px;
    border: 1px solid var(--cor-de-fundo);
    border-radius: 9.6px;
    background-color: var(--background-player-div);
}

#app3{
    width: 360px;
    height: 200px;
    
    margin: 32px;
    padding: 29px;
    border: 1px solid var(--cor-de-fundo);
    border-radius: 9.6px;
    background-color: var(--background-player-div);
}
