* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root {
    --background-main: #000000;
    --background-player-div: #2A2141; 
    --info-color: #E1E1E6;
    font-family: Roboto;
    background-color: var(--background-main);
    color: var(--info-color);
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}


#player-1 {
    display: flex;
    justify-content: center;

    width: 260px;
    height: 500px;

    margin: 50px 0;
    padding: 38px;
    border: 1px solid var(--cor-de-fundo);
    border-radius: 9.6px;
    background-color: var(--background-player-div);
}

#player-1 > img {
    width: 190px;
    object-fit: cover;
    border-radius: 6px;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#player-2 {
    width: 360px;
    height: 266px;

    margin: 32px;
    padding: 29px;
    border: 1px solid var(--cor-de-fundo);
    border-radius: 9.6px;
    background-color: var(--background-player-div);
}

#app2 > img {
    width: 84px;
    height: 84px;
}


#player-3{
    display: flex;
    justify-content: center;

    width: 360px;
    height: 200px;
    
    margin: 32px;
    padding: 29px;
    border: 1px solid var(--cor-de-fundo);
    border-radius: 9.6px;
    background-color: var(--background-player-div);
}

#app3 {
    padding: 29px;
    
}

#app3 > img {
    width: 84px;
    height: 84px;
}